
body {
    background-color: darkslategray;
}

.wrapper {
    margin: 25px;
}

.toptext {
    font-family: sans-serif;
    color: #FFFDD0;
}

#longhorn {
    width: 75px;
}

#tester {
    color:red;
}